# bu dosya github'a yuklenilmesini istenmeyen dosya adlari yazilir.

.env*
# Visual Studio Code ayar ve klasörlerini görmezden gel
.vscode/


# vim files:
*~
*.swp
*.swo
*.un~
# diger yuklenmesini istemedikleriniz:

*.exe